[submodule "lib/LibCppSpc"]
	path = lib/LibCppSpc
	url = https://github.com/stephenbonar/LibCppSpc
[submodule "lib/LibCppCmdLine"]
	path = lib/LibCppCmdLine
	url = https://github.com/stephenbonar/LibCppCmdLine
[submodule "lib/wxWidgets"]
	path = lib/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets
