[submodule "libs/LibCppCmdLine"]
	path = libs/LibCppCmdLine
	url = https://github.com/stephenbonar/LibCppCmdLine/
[submodule "libs/LibCppSpc"]
	path = libs/LibCppSpc
	url = https://github.com/stephenbonar/LibCppSpc
